.backBtn {
  display: inline-flex;
  align-self: start;
  padding: 0;
  color: $color-text-muted;
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border: none;
  transition:
    color 0.2s ease,
    transform 0.2s ease;

  &:hover {
    color: $color-black;
    transform: translateX(-4px);
  }
}
