.button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.3;
  color: $color-black;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &--primary {
    background-color: $color-black;
    color: $color-white;
    border: 1px solid $color-black;
    padding: 12px 24px;

    &:focus-visible:not(:disabled) {
      outline: 2px solid #2d2926;
      outline-offset: 3px;
    }

    &:hover:not(:disabled) {
      background-color: $color-white;
      color: $color-black;
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }

  &--secondary {
    background-color: transparent;
    color: $color-black;
    border: 1px solid #e0e0e0;
    padding: 12px 24px;

    &:focus-visible:not(:disabled) {
      outline: 2px solid #2d2926;
      outline-offset: 3px;
    }

    &:hover:not(:disabled) {
      background-color: $color-black;
      color: $color-white;
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }

  &--danger {
    background-color: transparent;
    border: 1px solid #e0e0e0;
    color: $color-error;
    padding: 12px 24px;

    &:hover:not(:disabled) {
      background-color: rgba($color-error, 0.1);
      color: $color-error;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
