.title {
  text-align: center;
}

ul.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.item {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@keyframes fadeUpIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
